*{margin:0;padding:0}
body{font:normal 100% Helvetica,Arial,sans-serif}
a{text-decoration:none;color:#37a}
ul,ol{list-style-type:none}
#hd{text-align:center}#hd img{width:40%;padding-bottom:10px}
#hd hr{margin-bottom:10px}
#bd{padding:10px}
.user-info h1{text-align:center;font-size:1.5em;color:#37a;padding-bottom:15px}
.user-info p{font-size:1em;line-height:1.5em}
